

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #292a2e;
    --secondary-color: #f35127;
    --tertiary-color: #fff;
}

/*Hero */
.header-container {
    height: 350px;
    max-width: 100%;
    background: url('./img/holmes.jpg') no-repeat bottom center/cover;
    color: var(--tertiary-color);
    
}
 
.inner-content {
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 5rem 0;
    
}

h1 {
    color: var(--secondary-color)
}

p {
    font-size: 1rem;
}



.btn {
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
}

.btn:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;

}


.header-text {
    color: var(--tertiary-color);
    padding: 20px;
    text-align: center;
}

/*Movie Container */

.movie-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 15px;
    margin-top: 10px;
}

.movie-results {
    color: #ffd8a7;
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    transition: transform 330ms ease-in-out;    
}

.movie-results img {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #2d2d2d,
                5px 5px 10px #393939;
    margin-top: 20px;
    
}

.movie-results img:hover {
    transform: scale(1.3);
}

h6 {
    margin-top: 10px;
}


/* Media queries */
/*
@media (max-width: 575.98px) {

   .header-container {
       height: 300px;
    }

    .movie-layout {
        grid-template-columns: 1fr;
    }

    .btn {
        margin-bottom: 30px;
    }
   
}

@media (max-width: 767.98px) {
    .movie-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991.98px) {
    .movie-layout {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
      font-size: 3rem;
    }

    p {
       font-size: 2rem;
    }
}




